.catalog-links__item {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-links__interior {
  background-color: #63d1bb;
}

.catalog-links__toy {
  background-color: #56c3b2;
}
