.catalog-links__item {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-links__interior {
  background-color: #63d1bb;
}

.catalog-links__toy {
  background-color: #56c3b2;
}

.catalog-links {
  list-style: none;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .catalog-links {
    display: grid;
    justify-content: center;
    min-width: 668px;
    grid-template-columns: 334px 334px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-links {
    grid-template-columns: 525px 525px;
  }
}
