.contacts__tittle {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__meaning {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  vertical-align: top;
}

@media (min-width: @tablet-width) {
  .contacts__location-table {
    display: flex;
  }
}
