.form__tittle {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #63d1bb;
}

.form__list {
  list-style-type: none;
}

.form__control {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__input::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.form__note {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
