.social__list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0 30px;
}

@media (min-width: @tablet-width) {
  .social__list {
    border: none;
    justify-content: space-between;
  }
}
