@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
iframe {
  border: none;
  display: block;
}
.page {
  height: 100%;
}
.page__body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  margin: 0;
}
.container {
  max-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    max-width: 668px;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .container {
    margin: 0 auto;
    max-width: 1050px;
  }
}
.site-list__link {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}
.site-list__link--delivery {
  margin-left: auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.site-list__item {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: relative;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
}
.site-list__search-icon,
.site-list__cart-icon {
  position: absolute;
  top: 35px;
  left: 31px;
}
.site-list__item--sell,
.site-list__item--new,
.site-list__item--delivery {
  display: none;
}
@media (min-width: 768px) {
  .site-list {
    height: 90px;
    display: flex;
    align-items: center;
  }
  .site-list__item {
    padding: 0 0 28px 0;
    border: none;
    box-sizing: border-box;
  }
  .site-list__list--cart {
    padding: 0;
  }
  .site-list__link {
    width: 167px;
    font-size: 15px;
  }
  .site-list__link--search {
    font-size: 0;
    min-height: 88px;
  }
  .site-list__link--cart {
    width: 264px;
    text-align: right;
    font-size: 17px;
  }
  .site-list__search {
    width: 84px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }
  .site-list__item--delivery,
  .site-list__link--delivery {
    display: flex;
    margin-left: auto;
    width: 259px;
    justify-content: flex-end;
  }
}
@media (min-width: 1150px) {
  .site-list__item--sell,
  .site-list__item--new {
    display: flex;
    width: auto;
  }
  .site-list__item--catalog {
    border-right: 1px solid #ececec;
    padding-bottom: 0;
    padding-right: 17px;
  }
  .site-list__item--form {
    padding: 0 0 0 35px;
  }
  .site-list__item--form,
  .site-list__item--sell {
    padding-left: 35px;
  }
  .site-list__item--sell {
    padding-left: 53px;
  }
  .site-list__link {
    font-size: 17px;
  }
  .site-list__cart {
    padding: 0;
  }
  .site-list__link--new,
  .site-list__link--sell,
  .site-list__link--delivery {
    font-size: 15px;
  }
  .site-list__link--delivery {
    text-align: right;
    width: 260px;
  }
  .site-list__link--search {
    font-size: 0;
  }
}
.main-container__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 1150px) {
  .main-container__description {
    width: 702px;
    margin: 105px auto 0;
  }
}
.about__tittle {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 31px 0 28px;
}
.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}
.about__list-item {
  position: relative;
  margin-bottom: 28px;
  padding-top: 55px;
}
.about__list-item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.about__list-item--ecology::before {
  top: 0;
  left: 8px;
  width: 32px;
  height: 45px;
  background-image: url("../img/icon-1.svg");
}
.about__list-item--style::before {
  top: 0;
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-2.svg");
}
.about__list-item--likes::before {
  top: 7px;
  left: 7px;
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-3.svg");
}
.about__list-item--hand::before {
  top: 4px;
  left: 3px;
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-4.svg");
}
.about__list-item--native::before {
  top: 5px;
  left: -6px;
  width: 55px;
  height: 23px;
  background-image: url("../img/icon-5.svg");
}
.about__list-item--gift::before {
  top: 3px;
  left: 3px;
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-6.svg");
}
@media (min-width: 768px) {
  .about {
    margin-top: 70px;
  }
  .about__list {
    display: grid;
    grid-template-columns: 330px 330px;
    justify-content: space-between;
    font-size: 20px;
    line-height: 22px;
    padding-right: 3px;
  }
  .about__list-item {
    padding-top: 71px;
  }
  .about__tittle {
    font-size: 43px;
    line-height: 50px;
  }
  .about__list-item--style {
    order: 2;
    padding-top: 81px;
  }
  .about__list-item--likes {
    order: 4;
    padding-top: 82px;
  }
  .about__list-item--hand {
    order: 1;
    padding-top: 71px;
  }
  .about__list-item--native {
    order: 3;
    padding-top: 81px;
  }
  .about__list-item--gift {
    order: 5;
    padding-top: 84px;
  }
  .about__list-item--ecology::before {
    top: 12px;
  }
  .about__list-item--style::before {
    top: 27px;
  }
  .about__list-item--likes::before {
    top: 34px;
  }
  .about__list-item--hand::before {
    top: 17px;
    left: 2px;
  }
  .about__list-item--native::before {
    top: 30px;
    left: -7px;
  }
  .about__list-item--gift::before {
    top: 30px;
  }
}
@media (min-width: 1150px) {
  .about__list {
    grid-template-columns: 350px 348px;
  }
  .about {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .about__tittle {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }
  .about__list-item--ecology {
    padding-top: 57px;
  }
  .about__list-item--style {
    padding-top: 81px;
  }
  .about__list-item--likes {
    padding-top: 83px;
  }
  .about__list-item--hand {
    padding-top: 58px;
  }
  .about__list-item--ecology::before {
    top: 0;
  }
  .about__list-item--style::before {
    top: 27px;
  }
  .about__list-item--likes::before {
    top: 34px;
  }
  .about__list-item--hand::before {
    top: 5px;
  }
}
.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
.catalog-links__item {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  min-height: 103px;
}
.catalog-links__link {
  position: relative;
  display: block;
  padding: 25px 120px 30px 30px;
  text-align: left;
}
.catalog-links__interior {
  background-color: #63d1bb;
}
.catalog-links__link--interior::after {
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/interior.svg");
}
.catalog-links__link--toy::after {
  top: 23px;
  right: 26px;
  width: 60px;
  height: 62px;
  background-image: url("../img/toy.svg");
}
.catalog-links__link::after {
  content: "";
  position: absolute;
  opacity: 0.5;
}
.catalog-links__toy {
  background-color: #56c3b2;
}
.catalog-links {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog-links {
    display: grid;
    justify-content: center;
    min-width: 668px;
    grid-template-columns: 334px 334px;
    background-color: #fafafa;
    position: relative;
  }
  .catalog-links::after {
    content: "";
    position: absolute;
    top: 108px;
    display: block;
    width: 100%;
    height: 24px;
    background-image: url("../img/zigzag-tablet.svg");
    background-position-x: center;
    background-size: auto 24px;
  }
  .catalog-links__link {
    font-size: 20px;
    line-height: 30px;
    padding: 26px 120px 30px 36px;
  }
  .catalog-links__link--interior::after {
    top: 30px;
  }
  .catalog-links__link--toy::after {
    top: 31px;
    right: 34px;
  }
}
@media (min-width: 1150px) {
  .catalog-links {
    grid-template-columns: 525px 525px;
    min-height: 119px;
    margin-bottom: 132px;
  }
  .catalog-links::after {
    content: "";
    position: absolute;
    top: 102px;
    display: block;
    width: 100%;
    height: 24px;
    background-image: url("../img/zigzag-tablet.svg");
    background-position-x: center;
    background-size: auto 39px;
  }
  .catalog-links__item {
    font-size: 20px;
    position: relative;
    line-height: 30px;
  }
  .catalog-links__link {
    position: static;
    width: 138px;
  }
  .catalog-links__link--interior::after {
    top: 30px;
    right: 37px;
  }
  .catalog-links__link--toy::after {
    top: 31px;
    right: 34px;
  }
}
.contacts {
  margin-bottom: 40px;
  position: relative;
}
.contacts__tittle {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 41px;
  margin-bottom: 26px;
}
.contacts__parameters {
  display: flex;
  margin-bottom: 27px;
  justify-content: flex-start;
}
.contacts__meaning {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  vertical-align: top;
}
.contacts__meaning--name {
  width: 31%;
  flex-shrink: 0;
}
.contacts__link {
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 4px;
  color: #000000;
  text-decoration: none;
}
.contacts__map {
  margin: 62px 0 42px;
  height: 452px;
}
.contacts__button {
  width: 80%;
  margin: auto;
}
@media (min-width: 768px) {
  .contacts {
    margin-bottom: 55px;
  }
  .contacts__location-table {
    display: flex;
    width: 668px;
    min-height: 92px;
  }
  .contacts__tittle {
    font-size: 43px;
    line-height: 50px;
    margin-top: 85px;
    margin-bottom: 47px;
  }
  .contacts__tittle::before {
    content: url("../img/flag.svg");
    position: absolute;
    top: -23px;
    right: 50px;
    width: 50px;
    height: 85px;
  }
  .contacts__parameters {
    width: 330px;
  }
  .contacts__meaning--name {
    width: 73px;
  }
  .contacts__meaning--name,
  .contacts__meaning--value {
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__map {
    height: 457px;
    margin: 17px 0 56px 0;
  }
  .contacts__button {
    width: 230px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    min-height: 467px;
    margin: 0 auto 96px;
    max-width: 1150px;
  }
  .contacts__wrapper {
    margin-top: 94px;
    margin-left: 225px;
    position: relative;
  }
  .contacts__tittle::before {
    top: 59px;
    left: -111px;
  }
  .contacts__tittle {
    font-size: 53px;
    line-height: 57px;
    padding-top: 78px;
    margin-bottom: 34px;
  }
  .contacts__location-table {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    flex-wrap: wrap;
  }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 49px;
    margin: 0;
    width: 527px;
    height: 457px;
  }
  .contacts__button {
    margin-left: 225px;
    margin-top: 53px;
  }
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}
.featured {
  margin-top: 31px;
  position: relative;
  padding-bottom: 38px;
}
.featured__tittle {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}
.featured__week-product {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
  padding-top: 4px;
}
.featured__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  margin: 18px 0 17px;
}
.featured__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;
  text-align: center;
  margin: 22px 0 22px 0;
}
.featured__button {
  width: 100%;
}
.featured::after {
  content: "";
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 7px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-repeat: repeat-x;
  background-position: 8px 0;
  background-size: 320px 7px;
}
@media (min-width: 768px) {
  .featured {
    padding-bottom: 53px;
    margin-top: 56px;
  }
  .featured::after {
    height: 17px;
    background-position: 19px 0;
    background-size: 768px 17px;
  }
  .featured__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .featured__tittle {
    font-size: 43px;
    line-height: 50px;
  }
  .featured__week-product {
    text-align: center;
    width: 100px;
    padding: 0 13px 4px 0;
  }
  .featured__description {
    max-width: 292px;
    margin-top: 37px;
    margin-bottom: 39px;
    font-size: 17px;
    line-height: 30px;
  }
  .featured__image {
    width: 334px;
    height: 404px;
    position: absolute;
    top: 101px;
    left: 50%;
  }
  .featured__price {
    text-align: center;
    max-width: 292px;
    margin-bottom: 32px;
    font-size: 20px;
  }
  .featured__button {
    max-width: 292px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .featured {
    min-height: 636px;
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 13px;
  }
  .featured::after {
    width: 1050px;
    height: 23px;
    background-position: 48px 0;
    background-size: 1050px 23px;
  }
  .featured__wrapper {
    margin-left: 19px;
    justify-content: flex-start;
  }
  .featured__tittle {
    margin-left: 43px;
    order: 3;
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
  }
  .featured__week-product {
    padding: 0 0 7px 13px;
    line-height: 17px;
  }
  .featured-stats {
    margin-bottom: 114px;
    margin-left: 175px;
  }
  .featured__description {
    margin-left: 175px;
    margin-bottom: 55px;
  }
  .featured__image {
    top: -60px;
    z-index: 0;
    width: 525px;
    height: 636px;
  }
  .featured__price {
    margin-left: 175px;
  }
  .featured__button {
    margin-left: 175px;
  }
}
.featured-stats {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  width: 100%;
  margin-bottom: 28px;
}
.featured-stats__parameters {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
.featured-stats__meaning {
  padding: 0;
}
.featured-stats__meaning--name {
  width: 38%;
}
@media (min-width: 768px) {
  .featured-stats {
    margin-bottom: 58px;
    max-width: 292px;
  }
  .featured-stats__parameters {
    padding: 9px 0;
  }
  .featured-stats__meaning--name {
    width: 33%;
  }
}
@media (min-width: 1150px) {
  .featured-stats__parameters {
    padding: 0 0 21px 0;
  }
  .featured-stats {
    margin-bottom: 99px;
  }
}
.social__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 26px 61px 30px;
}
@media (min-width: 768px) {
  .social__list {
    border: none;
    justify-content: space-between;
    padding: 30px 6px 30px 2px;
  }
}
.reviews {
  position: relative;
  padding-bottom: 45px;
}
.reviews__wrapper {
  padding: 0;
}
.reviews__tittle {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 58px 0 14px 0;
}
.reviews__item {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.reviews__text {
  margin: 0;
}
.reviews__contacts {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.reviews__contacts--name {
  margin-top: 31px;
}
.reviews__contacts--mail {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 31px;
}
.reviews__buttons-wrapper {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-around;
}
.reviews__button {
  width: 51%;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #ececec;
  cursor: pointer;
}
.reviews::after {
  content: "";
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 7px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-repeat: repeat-x;
  background-position: 8px 0;
  background-size: 320px 7px;
}
@media (min-width: 768px) {
  .reviews {
    background-image: url("../img/review-tablet.png");
    background-repeat: no-repeat;
    margin-top: 54px;
    padding-bottom: 56px;
  }
  .reviews__wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: end;
    justify-items: center;
  }
  .reviews__tittle {
    justify-self: flex-start;
    margin-bottom: 38px;
    margin-top: 83px;
    font-size: 43px;
    line-height: 50px;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .reviews__item {
    font-size: 17px;
    grid-column: 1;
    grid-row: 2;
  }
  .reviews__text {
    margin: 0;
  }
  .reviews__contacts--name {
    font-size: 18px;
    line-height: 24px;
    margin-top: 62px;
  }
  .reviews__contacts--mail {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 62px;
  }
  .reviews__buttons-wrapper {
    align-self: end;
    display: flex;
    width: 136px;
    margin-bottom: 71px;
    justify-content: space-between;
    grid-row: 2;
    grid-column: 1 / 2;
    justify-self: flex-end;
    margin-right: 27px;
  }
  .reviews__button {
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    width: 50%;
    position: relative;
    border: none;
  }
  .reviews__arrow {
    position: absolute;
    left: 7px;
    top: 0;
  }
  .reviews__write {
    grid-column: 1 / 2;
    grid-row: 1;
    min-width: 175px;
    margin-bottom: 41px;
    justify-self: flex-end;
    font-size: 17px;
    padding: 15px 38px 12px 37px;
    box-sizing: border-box;
  }
  .reviews__contacts,
  .reviews__contacts--mail {
    width: 292px;
  }
  .reviews__prev,
  .reviews__next {
    width: 50px;
    height: 30px;
  }
  .reviews::after {
    height: 17px;
    background-position: 19px 0;
    background-size: 768px 17px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    margin: 0 auto;
    background-size: 350px 457px;
    padding-bottom: 104px;
    max-width: 1150px;
    background-position: 49px 0;
  }
  .reviews__item {
    width: 875px;
    margin-left: 175px;
  }
  .reviews__wrapper {
    margin: 0 auto;
  }
  .reviews__tittle {
    margin-left: 174px;
    font-size: 53px;
    line-height: 57px;
    margin-top: 78px;
  }
  .reviews__contacts--name {
    margin-top: 42px;
    font-size: 17px;
    line-height: 25px;
  }
  .reviews::after {
    width: 1050px;
    height: 23px;
    background-position: 48px 0;
    background-size: 1050px 23px;
  }
}
.form__tittle {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.form__set {
  border: none;
}
.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.form__control {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}
.form__input::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}
.form__note {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .form__set {
    border: none;
    min-width: 668px;
    margin: 0;
    padding: 0;
  }
  .form__tittle {
    width: 169px;
    float: left;
  }
  .form__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .form__item {
    width: 50%;
  }
  .form__wrapper-color {
    background-color: #f1f1f1;
  }
  .form__container {
    margin: 0 auto;
    max-width: 668px;
  }
  .form__footer {
    display: flex;
    justify-content: space-between;
  }
  .form-button {
    order: -1;
  }
  .form__list--colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .form__container {
    margin: 0 auto;
    min-width: 1150px;
  }
  .form__item {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .production {
    flex-direction: column;
  }
}
@media (min-width: 1150px) {
  .production {
    flex-direction: row;
    grid-column: 1 / 4;
  }
  .production__wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .production__tittle-wrapper {
    width: 350px;
  }
  .production__description-wrapper {
    width: 350px;
  }
}
.product-list {
  list-style-type: none;
  padding: 0;
}
.product-list__link {
  text-decoration: none;
}
.product-list__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
.product-list__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.product-list__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
.product-list__production-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .product-list {
    display: flex;
    flex-direction: column;
  }
  .product-list__card {
    display: flex;
  }
  .product-list__link {
    width: 335px;
  }
  .product-litst__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 1150px) {
  .product-list {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    justify-content: space-between;
  }
  .product-list__card {
    flex-direction: column;
  }
  .production__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}
.main-header__logo {
  height: 80px;
}
.main-header__tittle {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  order: 5;
  margin: 0 auto;
}
.main-header__tittle-wrapper {
  background-color: #fafafa;
  padding: 68px 30px 77px;
  box-sizing: border-box;
  width: 100%;
}
.main-header__tittle-wrapper--index {
  background-image: url("../img/hero-mobile.png");
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-position: center -5px;
}
.main-header__logo-wrapper {
  margin: 22px 0 17px 0;
}
.main-header__wrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
    background: linear-gradient(#ffffff 88px, #d6d6d6 89px, #fafafa 90px);
  }
  .main-header__logo {
    min-width: 320px;
    height: 46px;
    order: 1;
  }
  .main-header__tittle {
    max-width: 670px;
    font-size: 43px;
    line-height: 50px;
  }
  .main-header__logo-wrapper {
    display: flex;
    width: 320px;
  }
  .main-header__tittle-wrapper--index {
    background-image: url("../img/hero-tablet.png");
    padding-top: 64px;
    padding-bottom: 371px;
    background-position: 50% -60px;
    background-size: auto;
  }
}
@media (min-width: 1150px) {
  .main-header__logo {
    order: 2;
    min-width: 150px;
    text-align: center;
  }
  .main-header__logo-wrapper {
    width: 175px;
    order: 2;
    display: flex;
    align-items: center;
  }
  .main-header__tittle {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
  .main-header__tittle-wrapper--index {
    background-image: url("../img/hero-desktop.png");
    padding-top: 67px;
    padding-bottom: 354px;
    background-position: 50% -93px;
  }
}
@media (min-width: 767px) {
  background: linear-gradient(#ffffff 79px, #d6d6d6 79px, #f1f1f1 80px);
}
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.main-nav__toggle {
  order: 4;
  position: absolute;
  right: 21px;
  top: 32px;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 14px;
  background: none;
}
.main-nav__services {
  display: flex;
  flex-direction: column;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.3), 0 12px 0 0 rgba(0, 0, 0, 0.3);
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  right: 5px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}
.main-nav__promo {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__user {
    order: 2;
    display: flex;
    max-width: 348px;
  }
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 668px;
    margin: 0 auto;
  }
  .main-nav__list {
    width: auto;
  }
  .main-nav__services {
    flex-direction: row;
    order: 3;
    max-width: 340px;
  }
  .main-nav__promo {
    order: 4;
    display: flex;
    padding: 0;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1150px) {
  .main-nav__user {
    order: 3;
    display: flex;
    max-width: 320px;
    padding-right: 2px;
  }
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1050px;
  }
  .main-nav__services {
    order: 1;
    display: flex;
  }
  .main-nav__list {
    max-width: 400px;
    justify-content: space-between;
  }
  .main-nav__promo {
    min-width: 1050px;
    justify-content: flex-start;
  }
}
.main-footer {
  background-color: #f1f1f1;
  width: 100%;
  margin: 0 auto;
}
.main-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
  }
  .main-footer__social {
    width: 145px;
  }
  .main-footer__copyright {
    width: 180px;
    padding: 0 0 5px 0;
  }
  .main-footer__logo {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */
